@charset 'utf-8';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2vw;
}

body.dark-mode {
  background: #444;
  color: #fff;
}

.mode-wrap {
  width: 70px;
  height: 30px;
  border: 2px solid #666;
  border-radius: 50px;
  background: #000;
}

#mode {
  display: none;
}

#mode + label {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-indent: 25px;
  /* background: #5f5; */
  color: #fff;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

#mode + label strong {
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
}
#mode:checked + label {
  text-indent: 10px;
  color: #666;
}

#mode + label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #ff5;
  background: linear-gradient(45deg, orange, tomato);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: 0.4s;
}

#mode + label::after {
  content: '';
  width: 18px;
  height: 18px;
  background: #000;
  transform: scale(0.5);
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;
  transition: 0.4s;
}

#mode:checked + label::before {
  left: auto;
  left: 44px;
  background: #fff;
}
#mode:checked + label::after {
  top: 2px;
  left: 38px;
  opacity: 1;
  transform: scale(1);
}
