@charset 'utf-8';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 10%;
}

body {
	padding: 10vw 0;
}

.blackpink-slider {
	width: 80%;
	height: 500px;
	margin: 50px auto;
	border: 10px solid #000;

	position: relative;
}

.btn-prev,
.btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 60px;
	height: 60px;
	background: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
}

.btn-prev {
	left: 0;
}
.btn-next {
	right: 0;
}

.blackpink-slider2 {
	width: 80%;
	/* height: 500px; */
	aspect-ratio: 1/0.3;
	margin: 50px auto;
	border: 10px solid #00f;

	position: relative;
}

.blackpink-slider2 .swiper {
	height: 100%;
}

.blackpink-slider2 .btn-prev {
	left: -80px;
}
.blackpink-slider2 .btn-next {
	right: -80px;
}

.blackpink-slider2 .paging {
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	background: #ff5;
	width: initial;
}
